body {
  color: #026A98;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  grid-gap: 10px;
}

header, footer {
  height: 10vh;
  display: flex;
  justify-content: center;
}

footer {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#embeds {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
}

a {
  color: #026A98;
}

footer>ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer>ul>li {
  display: inline;
  margin: 5px;
}
